<div class="row" style="margin-top: 20px;">
  <div class="col s10 offset-s1 m6 l6">
    <h5>Lorem ipsum.</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus esse laborum ducimus qui maiores! Fuga, ad temporibus reprehenderit sapiente ut. Porro facere eius minima perspiciatis sunt molestias perferendis quae ea.</p>
  </div>
  <div class="col s10 offset-s1 m6 l6">
    <h5>Lorem ipsum.</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus esse laborum ducimus qui maiores! Fuga, ad temporibus reprehenderit sapiente ut. Porro facere eius minima perspiciatis sunt molestias perferendis quae ea.</p>
  </div>
</div>